@import 'variables';


body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background-color:$gray-500;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: $light-violet;
}


.navbar-brand {
  font-size: 2rem;
  letter-spacing: 5px;
  margin-right:0px;
}

.bg-violet {
    background-color: $violet;
}

.bg-blue {
    background-color: $snes-blue;
}

.border-blue {
    border-color: $snes-blue;
}

.border.border-blue {
  border-color: $snes-blue !important;
}

.border-violet {
  border-color: $violet;
}

.bg-light-grey {
  background-color:#cccccc
}

.bg-dark.bg-violet {
  background-color: $violet !important;
}

.color-violet {
  color: $violet;
}

.rotate-45 {
  transform: rotate(45deg);
}

.slow-spin {
  -webkit-animation: fa-spin 6s infinite linear;
  animation: fa-spin 6s infinite linear;
}

.col.scrollspy-target {
  position: relative;
}

.font-size-5rem {
  font-size:5rem;
}

.font-size-10rem {
  font-size:10rem;
}

.font-size-15rem {
  font-size:15rem;
}

.font-size-20rem {
  font-size:20rem;
}

.w-20 {
  width:20%;
}
