$violet: #710193;
$light-violet: #a7a4e0;
$violet-white: #dfddff;
$famicom-red: #711521;
$snes-red: #C1121C;
$snes-yellow: #F7BA0B;
$snes-green: #007243;
$snes-blue: #00387b;
$snes-dark-grey: #54585a;
$snes-light-grey:  #b2b4b2;


