<div id="content" class="container-fluid align-items-stretch p-0 w-100">
  <div class="row d-flex justify-content-center">
    <div class="bg-light col-10 mt-5 rounded justify-content-center">
      <div id="me-section" class="py-5 row">
        <div class="col-12 py-5">
          <div class="d-flex bg-blue text-white rounded shadow">
            <div class="col-6">
              <div class=" d-flex h-100 justify-content-center align-items-center">
                <div class="d-flex justify-content-center">
                    <img src="../../assets/Portrait.jpg" class="h-75 w-75 rounded-circle border border-blue border-5 " />
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="d-flex flex-column justify-content-center align-items-center h-100 px-5">
                
                  <div class="d-flex w-100">
                    <div class="display-3 bg-blue text-white pb-1">Jim Banning</div>
                  </div>
                  <div class="d-flex w-100">
                    <div class="lead">.NET Developer. Texas Native. Ancient Millenial.</div>
                  </div>
                  <div class="d-flex w-100 justify-content-start">
                    <div class="d-flex">
                      <a class="text-white p-2" href="https://www.linkedin.com/in/jimbanning">
                        <i class="fab fa-linkedin fa-3x"></i>
                      </a>
                    </div>
                    <div class="d-flex">
                      <a class="text-white p-2" href="https://github.com/jbanning1981">
                        <i class="fab fa-github-square fa-3x"></i>
                      </a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="work-section" class="py-5 row">
        <div class="col-12">
          <div class="card border-blue mt-5 shadow-lg">
            <div class="card-header text-center bg-blue text-white h3">
              <div class="display-5">Work History</div>
            </div>
            <div class="card-body">
            </div>
          </div>

        </div>
      </div>
      <div id="school-section" class="py-5 col-xl-10">
        <div class="card border-violet mt-5 ">
          <div class="card-header text-center bg-violet text-white h3">
            School
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-6">Left</div>
              <div class="col-6">Right</div>
            </div>
          </div>
        </div>
      </div>
      <div id="about-section" class="py-5 col-xl-10">
        <div class="card border-violet mt-5 ">
          <div class="card-header text-center bg-violet text-white h3">
            About This Page
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-6">Left</div>
              <div class="col-6">Right</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

