<div id="content" class="container-fluid align-items-stretch p-0 w-100">
  <div class="row d-flex w-100 justify-content-center gx-0 gx-md-2 ">
    <div class="col-12 col-md-10 mt-5 rounded justify-content-lg-center shadow bg-content-body">
      <div>
        <section id="work-section" class="py-5 row">
          <div class="col-12">
            <div class="card border-blue mt-2 shadow-lg">
              <div class="card-header text-center text-white" style="background-color: rgba(0, 56, 123,0.7)">
                <div class="display-6">
                  <i class="fas fa-laptop-code"></i> Experience
                </div>
              </div>
              <div class="card-body">
                <div *ngFor="let job of JobHistory" class="row">
                  <div class="col-12">
                    <div class="card my-2 h-auto shadow">
                      <div class="card-body d-flex flex-column">
                        <div class="row">
                          <div class="col-2 d-none d-lg-block overflow-hidden">
                            <div class="d-flex justify-content-center justify-content-xl-end pt-3 ">
                              <img src='{{job.logoUrl}}' class="d-none d-lg-block d-flex rounded-3 job-logo" />
                            </div>
                          </div>
                          <div class="col flex-grow-1">
                            <div class="row pb-2">
                              <div class="col-12 align-items-center">
                                <div class="fs-3">{{job.title}}</div>
                                <div><a class="text-reset text-decoration-none company-link" href="{{job.companyUrl}}" target="_blank">{{job.company}} <i class="fas fa-external-link-alt"></i></a></div>
                                <div class="text-muted">{{job.startDate | date:'MM/YYYY'}} - {{job.endDate | date:'MM/YYYY'}}</div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <ul>
                                  <li *ngFor="let item of job.accomplishments" class="p-0">{{item}}</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="school-section" class="py-5 row">
        </section>
        <section id="about-section" class="py-5 row">
        </section>
      </div>

    </div>
  </div>
</div>

