@import "bootstrap/scss/bootstrap";

.h-20 {
    height: 20%;
}


#sidebarPortrtaitWrapper {
    background-color: $white;
}

#sidebarPortraitOuterWrapper {
    background-color: $blue-800;
}

@include media-breakpoint-up(xxl) {
    .sidebar_photo img {
        max-height: 200px;
        max-width: 200px;
    }
}