$violet: #710193;
$light-violet: #a7a4e0;
$violet-white: #dfddff;
$famicom-red: #711521;
$snes-red: #C1121C;
$snes-yellow: #F7BA0B;
$snes-green: #007243;
$snes-blue: #00387b;
$snes-dark-grey: #54585a;
$snes-light-grey:  #b2b4b2;


//Taken from Bootstrap's definition
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;


